@import "~leaflet/dist/leaflet.css";
/*@import "../src/app/agm-map/agm-map.component.css";*/

html, body {
  height: 100%;
}

/*Styles required for the correct positioning of the autocomplete dropdown menu*/
.cdk-overlay-container {
  position:fixed;
  z-index:1000
}

.cdk-global-overlay-wrapper{
  display:flex;
  position:absolute;
  z-index:1000
}

.cdk-overlay-pane{
  position:absolute;
  pointer-events:auto;
  box-sizing:border-box;
  z-index:1000
}
/* END Styles required for the correct positioning of the autocomplete dropdown menu*/

/* ::::::STYLING DYNAMICALLY GENERATED DOM ELEMENTS:::::: */
/*FILTERS SIDENAV*/

.nav-group-text, .nav-group-trigger { /* Changing filters subnav sections height to fit the clearFilter buttons*/
  height: 2.2rem!important;
}

.nav-group-text {
  padding-left: 0!important;
}

/*.header-backdrop {*/
/*  background-color: rgba(0, 0, 0, 0.1) !important;*/
/*}*/

/* Leaflet map dynamically generated geolocation control */
.leaflet-geolocation-control {
  height: 26px;
  width: 26px;
  background-color: #fff;
  text-align: center;
  vertical-align: middle;
  padding-top: 5px;
  cursor: pointer!important;
}
