<div class="search-box">
<form clrForm class="search" clrLayout="vertical" [formGroup]="searchForm">
  <clr-input-container id="search-input-container">
    <label for="search-input" class="clr-control-label">
      <input clrInput id="search-input"
             class="control"
             type="search"
             placeholder="Search here..."
             formControlName="searchField"
             [appAutocomplete]="autocomplete">
      <button type="button"
              class="btn btn-sm btn-link"
              title="Clear search"
              (click)="clearSearchField()" *ngIf="searchForm.value.searchField">
        <clr-icon shape="window-close"></clr-icon>
      </button>
    </label>
    <app-autocomplete #autocomplete="appAutocomplete">
      <!-- Search filter labels-->
      <ng-template appSearchFiltersContainer>
        <ng-container *ngIf="searchForm.value.searchField?.length >= 1">
            <div class="label filter-label" appDismissable
                  (click)="$event.stopPropagation(); dismiss(selectedFilter.Category, selectedFilter.Value)"
                  *ngFor="let selectedFilter of selectedFilters">
              <span class="badge search-filter-count">{{selectedFilter.NumberOfMarkers}}</span>
              <span class="filter-label-title" title="{{selectedFilter.Value}}">{{selectedFilter.Value}}</span></div>
        </ng-container>
      </ng-template>

      <ng-template appAutocompleteContent>
          <ng-container *ngIf="searchForm.value.searchField?.length >= 1">
              <app-option *ngFor="let marker of (searchResults | async | keyvalue)" [value]="marker.value.representativeProperty"
              (click)="this.searchService.updateSelectedResult(marker)">
                  <clr-icon shape="map-marker" role="img" aria-label="Marker pin"></clr-icon>
                  {{ marker.value.representativeProperty }}
              </app-option>
          </ng-container>
      </ng-template>

    </app-autocomplete>
  </clr-input-container>
</form>
</div>
