
#search-input {
  color: #ffffff;
  width: 13rem;
}

#search-input-container {
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  header .search-box label input, header .search label input, .header .search-box label input, .header .search label input {
    display: inline;
  }
}
