.search-box {
  width: 100%;
}

.search-box label {
  width: 100%;
}

#search-input {
  color: #ffffff;
  border-bottom-color: var(--clr-color-action-500);
  width: 80%;
}

#search-input-container {
  margin-top: 0;
  width: 100%;
}

@media (max-width: 640px) {
  #search-input {
    display: inline-block;
    min-width: 3.5rem;
  }
}
  @media (min-width: 640px) {
  #search-input {
    display: inline-block;
    min-width: 9rem;
  }
}
/* This is when mobile header triggers */
@media screen and (min-width: 768px) {
  #search-input {
    display: inline-block;
    min-width: 11rem;
  }
}

@media (min-width: 1024px) {
  #search-input {
    display: inline-block;
    min-width: 15rem;
  }
}

@media (min-width: 1280px) {

}

.search-filters-container {
  /*width: 100%;*/
  /*position: fixed;*/
  background-color: #fff;
  display: block;
}

.filter-label {
  cursor: pointer;
  max-width: 9rem;
  padding-left: .1rem;
  padding-right: .1rem;
}

.filter-label-title {
  max-width: 8rem;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.search-filter-count {
  margin: 0 .45rem 0 0;
  background: var(--clr-color-action-500);
}
