<div>
      <button (click)='toggleAppTemplate()'>
        {{ appTemplate === 'agm-template' ? 'leaflet-template':'agm-template'}}
    </button>
</div>
<!--<h1>Message from Service : {{message}}<h1>-->
<!-- Creates a layout with a left and right sidenav and implicit content. -->
<mat-sidenav-container>
<!--  <mat-sidenav mode="side" opened>NavBar</mat-sidenav>-->

  <mat-sidenav id="infowindow" position="end" mode="side" opened>

    <div>
      <app-info-sidebar>

      </app-info-sidebar>
    </div>



<!--    <div>-->
<!--      <app-info-sidebar [markerInfo]="markerInfo"></app-info-sidebar>-->
<!--    </div>-->

<!--    <app-infowindow></app-infowindow>-->
  </mat-sidenav>

  <mat-sidenav-content>
    <div>
      <ng-container *ngIf= 'appTemplate === "leaflet-template" then leafletTemplate else agmTemplate'>
      </ng-container>

      <ng-template #leafletTemplate>
        <app-map class="map" id="leaflet-map"></app-map>
      </ng-template>

      <ng-template #agmTemplate>
        <app-agm-map class="map" id="agm-map"></app-agm-map>
      </ng-template>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


