<!DOCTYPE html>
<html>

  <head>
<!--    <app-data-parser></app-data-parser>-->

    <title>Sheet2Map Data Visualization Solution</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  </head>

  <body>
<!--temp for testing infowindow component-->
<div style="position: fixed; top: 25px">

    <button (click)='toggleAppTemplate()'>
        {{ appTemplate === 'agm-template' ? 'leaflet-template':'agm-template'}}
    </button>

    <ng-container *ngIf='appTemplate === "leaflet-template" then leafletTemplate else agmTemplate'>
    </ng-container>

    <ng-template #leafletTemplate>
        <app-map class="map" id="leaflet-map"></app-map>
    </ng-template>

    <ng-template #agmTemplate>
        <app-agm-map class="map" id="agm-map"></app-agm-map>
    </ng-template>
</div>

  <div>
  <app-infowindow></app-infowindow>
</div>

  </body>
</html>
