/* Custom Geolocation button style */
#geolocation-btn {
  width: 25px;
  height: 25px;
  background-color: #FFFFFF;
  text-align: center;
  cursor: pointer;
  display: block;
}

#geolocation-btn:hover {
  background-color: #f4f4f4;
}

#geolocation-icon {
  font-size: 18px;
  vertical-align: middle;
  margin-top: 4px;
}

#geolocation-icon.geolocation-btn-active {
  color: var(--clr-color-action-500);
}
