/*.leaflet-map {*/
/*  height: 500px;*/
/*}*/
mat-sidenav-container {
  height: 100vh;
}

#wrapper {
  min-height: 100%;
}

.filter-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
