<div class="filters">
  <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
       <div *ngFor="let filterKey of (keyValues | keyvalue)">
          <a mat-list-item href="#">{{filterKey.key}}</a>
          <section class="filter-section">
            <div *ngFor="let filterValue of (filterKey.value | keyvalue)">
              <mat-checkbox class="filter"
                            (change)="this.filtersService.getSelectedFilters(filterKey.key, filterValue.value, $event)">
              <p>{{filterValue.value}}</p>
              </mat-checkbox>
            </div>
          </section>
       </div>
    </mat-nav-list>
</div>
