

.filter-group-children {
  margin-bottom: 1rem;
}

.btn-clear-filters {
  height: 100%;
  vertical-align: middle;
  transform: scale(0.8);
  margin-left: .2rem;
  margin-top: .2rem;
  margin-bottom: .2rem;
  border-radius: 50px;
}

.clr-form-control {
  margin-left: .2rem;
}

.btn-clear-filters-icon {
  font-size: 35px;
}
