<form clrForm [formGroup]="filterForm">
  <div *ngFor="let category of filterForm.controls | keyvalue ">
    <clr-vertical-nav-group>
        <button type="button"
                class="btn btn-icon btn-clear-filters"
                [name]="category.key"
                title="Clear filters"
                aria-label="clear filters"
                [disabled]=true
                #clearFiltersBtn
                (click)="$event.stopPropagation();
                this.uncheckFilters(category.key);
                this.filtersService.clearFilters(category.key)">
          <clr-icon shape="filter-grid-circle" class="is-solid"></clr-icon>
        </button>
      {{category.key}}

      <clr-vertical-nav-group-children *clrIfExpanded>
        <ng-container [formGroupName]="category.key" *ngFor="let filter of category.value.controls | keyvalue ">
          <clr-checkbox-container>
            <clr-checkbox-wrapper>
              <input type="checkbox" clrCheckbox
                     id="{{filter.key}}"
                   [formControlName]=filter.key
                   value="{{filter}}"
                   (change)="this.filtersService.getSelectedFilters(category.key, filter.key, $event);
                   this.toggleClearFiltersBtn(category.key)"/>
              <label>{{filter.key}}</label>
            </clr-checkbox-wrapper>
          </clr-checkbox-container>
        </ng-container>
      </clr-vertical-nav-group-children>

    </clr-vertical-nav-group>
  </div>
</form>
