<clr-main-container class=" main-container">
    <clr-header class="header header-2">
        <div class="branding">
          <a routerlink="/" class="logo-and-title" href="/">
          <span class="clr-icon logo app-logo"></span>
          <span class="title">Sheet2Map</span>
          </a>
<!--          Doesn't show-->
          <div class="divider"></div>
        </div>
      <div class="header-search"><app-search></app-search></div>
        <div class="header-nav header-actions" [clr-nav-level]="2">
          <a class="map-link nav-link nav-text" routerLink='/googlemaps'>Google map</a>
          <a class="map-link nav-link nav-text" routerLink='/openstreetmaps'>Leaflet map</a>
      </div>
  </clr-header>

  <div class="content-container">
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" [clr-nav-level]="1" class="filters-nav">
      <app-filters></app-filters>
    </clr-vertical-nav>
    <div class="content-area"><router-outlet></router-outlet></div>
    <div id="sidenav-wrapper">
        <nav class="sidenav sidenav-right" #markerInfoSidebar
             [ngClass]="isOpened === false ? 'closed' : ''">
          <div class="sidenav-content"><app-info-sidebar></app-info-sidebar></div>
        </nav>
    </div>
  </div>
<!--  <app-google-sheets></app-google-sheets>-->


</clr-main-container>
