<div id="wrapper">
  <mat-toolbar color="primary">

    <span>
      <button
        type="button"
        aria-label="Filters"
        mat-mini-fab
        color="accent"
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Filters">filter_alt</mat-icon>
      </button>
    </span>
    <span class="flexExpand"></span>
    <span class="search"><app-search></app-search></span>
    <span>
      <mat-button-toggle-group name="mapType" aria-label="Map Type">
        <mat-button-toggle routerLink='/leaflet-map'>Leaflet Map</mat-button-toggle>
        <mat-button-toggle routerLink='/agm-map'>Google Map</mat-button-toggle>
      </mat-button-toggle-group>
    </span>

  </mat-toolbar>

<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav filter-sidenav"
               fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <app-filters></app-filters>
  </mat-sidenav>

  <mat-sidenav #markerInfoSidebar
               position="end"
               mode="side"
               opened="false">
    <app-info-sidebar></app-info-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>
