.main-container .content-container .content-area {
  padding: 0rem;
}

/* HEADER STYLES */

.header {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.42);
  z-index: 1000;
}

.header .branding .app-logo {
  background-image: url(../../assets/img/S2M-logo-short.svg);
  margin-right: .55rem;
  margin-top: .3rem;
  min-width: 0;
  height: 1.8rem;
  width: 1.8rem;
  display: inline-block;
  vertical-align: middle;
}

/* MAP LINKS */

.map-link:hover {
  background: hsla(0,0%,100%,.15);
}

/* LEFT FILTERS NAVBAR STYLES */

.filters-nav {
  width: 15rem;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.42);
  z-index: 999;
}

.clr-vertical-nav .nav-trigger, .clr-vertical-nav .nav-group-trigger {
  height: auto;
}

/* RIGHT INFO SIDEBAR STYLES */

.sidenav {
  max-height: 100%;
}

#sidenav-wrapper {
  position: relative;
  overflow: hidden;
  max-height: 100%;
  min-height: 100%;
  width: min-content;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.42);
  z-index: 1000;
}

.sidenav-right.closed {
  margin-right: -13rem;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sidenav-right {
  right: 0;
  margin-left: 1.5rem;
  border-right: .05rem solid #ccc;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
